joblib
pandas
scikit-learn==1.3.0
fastapi
uvicorn
Flask
flasgger
Werkzeug
annotated-types
anyio
click
exceptiongroup
h11
idna
joblib
numpy==1.24.3
pandas
pydantic
pydantic_core
python-multipart
scipy
sniffio
starlette
threadpoolctl
tzdata
gunicorn
